<h1>Home Page</h1>

<button id"load_homies">LOAD HOMIES</button><br>
<fieldset>
  <legend>New Homie</legend>
    <input type="text" id="name" placeholder="name"><br>
    <input type="text" id="email" placeholder="email"<br>
    <input type="text" id="phone" placeholder="phone"<br>
    <button id="new_homie">New Homie</button><br>
</fieldset>
<div id="results">
  <table id="list-of-homies">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
  </table>
</div>
    